<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="content">

    <script type="text/javascript">
        $(function () {
            var table = $('#calendarEventTable').DataTable({
                "ajax": "calendarEvent/loadCalendarEventAjax",
                "columns": [
                    {"data": "id"},
                    {"data": "title"},
                    {"data": "start"},
                    {"data": "end"},
                    {"data": "color"},
                    {"data": "textColor"}
                ],
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                    }
                ],
                "order": [[0, 'desc']]
            });

            $('#calendarEventTable tbody').on( 'click', 'tr', function () {
                $(this).toggleClass('selected');
            } );

            $("#deleteRow").click(function () {
                var ids = "";
                var dt = $('#calendarEventTable').DataTable();
                dt.rows('.selected').data().each(function (item) {
                    ids += item["id"] + ',';
                });
                ids = ids.substr(0, ids.length - 1);
                $.post("calendarEvent/deleteCalendarEvent", {"ids": ids}, function (result) {
                    dt.ajax.reload();
                });
            });

            $("#addRow").click(function(){
                addWindow("addCalendarEventDialog","<span th:text='#{title.add.calendarEvent}'/>","calendarEvent/createCalendarEvent");
            });
            $("#updateRow").click(function(){
                if($('#calendarEventTable').DataTable().rows('.selected').data().length !== 1){
                    addBackConfirm("<span th:text='#{message.warn.onlyOneShouldSelect}'/>");
                    return;
                }
                var id = $('#calendarEventTable').DataTable().rows('.selected').data()[0]["id"];
                addWindow("updateCalendarEventDialog","<span th:text='#{title.update.calendarEvent}'/>","calendarEvent/updateCalendarEvent?id="+id);
            });
        });

    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <table id="calendarEventTable" class="display">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Color</th>
                        <th>Text Color</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12">
                        <button id="addRow" class="btn btn-primary"><span class="glyphicon glyphicon-plus"/></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button id="updateRow" class="btn btn-primary"><span class="glyphicon glyphicon-edit"/></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button id="deleteRow" class="btn btn-primary"><span class="glyphicon glyphicon-trash"/></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>