<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="content">
    <script type="text/javascript">

        $(document).ready(function () {
            newDatePicker("startDate");
            newDatePicker("endDate");
            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                height: 650,
                header: {
                    left: 'prev,next today myCustomButton',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,list'
                },
                resources: 'loadResource',
                events: 'loadEvent',
                nowIndicator: true,
                displayEventTime: true,
                eventLimit: true
            });
        });

        function generate(){
            var idShfit = $("#selectShift").val();
            var idClass = $("#selectClass").val();
            var startDateStr = $("#startDate").val();
            var endDateStr = $("#endDate").val();
            var arr1 = startDateStr.split("-");
            var arr2 = endDateStr.split("-");
            var startDate = new Date(arr1[0],parseInt(arr1[1])-1,arr1[2]);
            var endDate = new Date(arr2[0],parseInt(arr2[1])-1,arr2[2]);
            $.post("generate", {"idShift": idShfit,"idClass":idClass,"startDate":startDate,"endDate":endDate}, function (result) {
                $('#calendar').fullCalendar( 'refetchEvents' );
            });
        }
    </script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <label><h2 th:text="#{calendar.setting.label}"></h2></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label><span th:text="#{calendar.shift}"></span></label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control input-sm" id="selectShift">
                            <div th:each="calendarShift:${calendarShifts}">
                                <option th:value="${calendarShift.id}"><span th:text="${calendarShift.name}"/>
                                </option>
                            </div>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label><span th:text="#{calendar.classes}"></span></label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control input-sm" id="selectClass">
                            <div th:each="calendarClass:${calendarClasses}">
                                <option th:value="${calendarClass.id}"><span th:text="${calendarClass.name}"/>
                                </option>
                            </div>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label><span th:text="#{calendar.startDate}"></span></label>
                    </div>
                    <div class="col-md-8">
                        <input id="startDate" data-provide="datepicker" type="text" class="form-control input-sm"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label><span th:text="#{calendar.endDate}"></span></label>
                    </div>
                    <div class="col-md-8">
                        <input id="endDate" type="text" class="form-control input-sm datepicker"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary" onclick="generate();"><span th:text="#{calendar.generate}"></span></button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div id='calendar'></div>
            </div>
        </div>
    </div>


</div>
</body>
</html>